<webapp>
    <servlet>
	    <!-- Override init parameter to avoid nasty -->
	    <!-- file locking issue on windows.         -->
	    <servlet-name>default</servlet-name>
	    <init-param>
	        <param-name>useFileMappedBuffer</param-name>
	        <param-value>false</param-value>
	    </init-param>
	</servlet>
</webapp>